@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }

  body {
    background: #f7f7f7;
  }

  p a {
    text-decoration: underline;
  }

  li {
    list-style: disc inside;
  }

  .repo-text p {
    margin-bottom: 0.75rem;
  }

  .repo-text {
    height: 100%;
  }
}
